@{
    ViewBag.Title = "UserUpdate";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var userList = (IEnumerable<user>)ViewData["User"];
}
<style>
    body {
        font-family: 'Arial', sans-serif;
        background-color: #f5f5f5;
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
    }

    form {
        margin: 0 auto;
        max-width: 360px;
        width: 100%;
        background-color: #fff;
        padding: 40px;
        border-radius: 8px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
        box-sizing: border-box;
        transition: box-shadow 0.3s ease;
        margin-top: 50px; /* Adjust the margin-top to center the form */
    }

        form:hover {
            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
        }
        footer p {
            text-align: center;
        }
</style>

@foreach (var item in userList)
{
    <form action="Update" method="POST">
        <div class="form-group">
            <input type="hidden" value="@item.userId" name="id" />
            <label for="exampleInputFirstname">Firstname:</label>
            <input type="text" class="form-control" id="exampleInputFirstname" name="new_firstname" value="@item.firstname">
        </div>
        <div class="form-group">
            <label for="exampleInputLastname">Lastname:</label>
            <input type="text" class="form-control" id="exampleInputLastname" name="new_lastname" value="@item.lastname">
        </div>
        <div class="form-group">
            <label for="exampleInputEmail">Email:</label>
            <input type="email" class="form-control" id="exampleInputEmail" name="new_email" value="@item.email">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword">Password:</label>
            <input type="password" class="form-control" id="exampleInputPassword" name="new_password" value="@item.password">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
}
